<h3>All Books</h3>
<ul>
	<li ng-repeat="book in books.allBooks">
		{{book.id}} - {{book.title}} - <a href="#/editBook/{{book.id}}" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
	</li>
</ul>

<a href="#/addBook" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Book</a>
<a href="#/editBook/{{books.lastEditedBook.id}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-saved"></i> Last Edited</a>

<h3>All Readers</h3>
<ul>
	<li ng-repeat="reader in books.allReaders">
		{{reader.id}} - {{reader.name}} -> {{books.getBadge(reader.totalReadHours)}}
	</li>
</ul>

<h3>Favorite Book : {{books.favoriteBook}}</h3>